<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>About</title>
</head>
<body th:style="'background: url(\'' + @{/images/} + #{about.background} +'\') no-repeat; background-size: 100%'">
<!--Menu-->
<div th:include="fragments/header :: header">Default header</div>
<div class="container" style="max-width: 40%; background-color: lightsteelblue">
    <a href="start.html" th:title="#{talisman.edit}" th:href="@{/talisman/edit/}">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
    <h1 th:text="${talisman.about}">Some information about Talisman band here</h1>
</div>

</body>
</html>