<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>About</title>
</head>
<body th:style="'background: url(\'' + @{/images/} + #{about.background} +'\') no-repeat; background-size: 100%'">
<!--Menu-->
<div th:include="fragments/header :: header">Default header</div>
<div class="container">
    <div>
        <h3 style="width: 100%; text-align: center; display: inline-block" th:text="#{talisman.about}"></h3>
        <a style="float: right;" href="start.html" th:title="#{talisman.edit}" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/edit}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </div>

    <span style="font-size: 16px;" th:text="${talisman.story}">Some information about Talisman band here</span>
</div>

</body>
</html>