<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>Contacts</title>
</head>
<body th:style="'background: url(\'' + @{/images/} + #{contacts.background} +'\') no-repeat; background-size: 100%'">
<!--Menu-->
<div th:include="fragments/header :: header">Default header</div>
<div class="container" style="max-width: 40%; background-color: lightsteelblue">
    <div>
        <h3 align="center" th:text="#{talisman.contacts}"></h3>
        <a href="start.html" th:title="#{talisman.edit}" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/edit}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </div>

    <span th:text="${talisman.phone}">Phone here</span>
    <br/>
    <span th:text="${talisman.skype}">Skype here</span>
</div>

</body>
</html>