<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:include="fragments/import :: bootstrap"></div>

    <meta charset="UTF-8"/>
    <title>Members</title>
</head>
<body th:background="@{/images/} + #{start.background}">
<div style="max-width: 40%; padding: 20px; margin: 0 auto; margin-top: 50px; background-color: gainsboro">
    <form class="form-horizontal" role="form" th:action="@{/login}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name" th:text="#{form.login.name}">Email:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="username" placeholder="Enter name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd" th:text="#{form.login.password}">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <input type="checkbox" name="remember-me"/><label th:text="#{form.login.remember}"> Remember me</label>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" th:value="#{button.submit}" class="btn btn-default"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>