<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>Members</title>
</head>
<body th:background="@{/images/} + #{members.background}">
<div th:include="fragments/header :: header">Default header</div>
<div class="container" style="max-width: 40%; background-color: lightsteelblue">
    <table style="margin-top: 15px; text-align: center;" class="table table">
        <tr>
            <th style="text-align:center">Band member</th>
            <th style="text-align:center">Short info</th>
            <th style="text-align:center">Photo</th>
        </tr>
        <tr th:each="member : ${members}">
            <td>
                <a href="members.html" th:text="${member.name}" th:href="@{/members/} + ${member.id}"></a>
            </td>
            <td style="text-align: justify" th:text="${member.story}"></td>
            <td>
                <img style="max-width: 80px; height: auto" th:src="@{__${member.photo}__}"/>
            </td>
        </tr>
    </table>
    <a href="some page" th:href="@{/members/addMember}" sec:authorize="hasRole('ROLE_ADMIN')">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>


</body>
</html>