<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>Members</title>
</head>
<body th:background="@{/images/} + #{members.background}">
<div th:include="fragments/header :: header">Default header</div>
<div class="container">
    <table class="table table" id="members-table">
        <tr>
            <th>Band member</th>
            <th>Short info</th>
            <th>Photo</th>
        </tr>
        <tr th:each="member : ${members}">
            <td>
                <a href="members.html" th:text="${member.name}" th:href="@{/members/} + ${member.id}"></a>
            </td>
            <td th:text="${member.story}"></td>
            <td>
                <img class="members-img" th:src="@{__${member.photo}__}"/>
            </td>
        </tr>
    </table>
    <a href="some page" th:href="@{/members/addMember}" sec:authorize="hasRole('ROLE_ADMIN')">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>


</body>
</html>