<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>Start Page</title>
</head>
<body th:background="@{/images/img_background.jpg}">
<!--Menu-->
<div th:include="fragments/header :: header">Default header</div>
<div class="container" style="max-width: 40%; background-color: lightsteelblue">
<div>
    <img style="max-height: 100px; width: auto; margin: 5px" th:each="photo : ${photos}" src="source" th:src="${photo.photo}"/>
</div>
    <a href="start.html" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/photos/edit/0}">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <!--Footer-->
    <div th:include="fragments/footer :: footer">Default footer</div>
</div>
</body>
</html>