<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>Photos</title>
</head>
<body th:style="'background: url(\'' + @{/images/} + #{photos.background} +'\') no-repeat; background-size: 100%'" >
<!--Menu-->
<div th:include="fragments/header :: header">Default header</div>
<div class="container" style="max-width: 40%; background-color: lightsteelblue">
    <h2 align="center" th:text="#{photo.header}">Photos</h2>
    <span style="display: inline-block; position: relative" th:each="photo : ${photos}">
        <img style="position:relative; max-height: 100px; width: auto; margin: 5px 5px" src="source" th:src="${photo.photo}"/>
        <a style="position: absolute; top: 5px; right: 5px" href="start.html" th:title="#{photo.remove}"
           th:href="@{/photos/remove/} + ${photo.id}">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </span>

    <a href="start.html" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/photos/edit/0}">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <!--pagination-->
    <div align="center">
        <ul class="pagination">
            <li th:each="curPage: ${#numbers.sequence(1, pagesCount)}"
                th:class="${curPageStat.index == currentPage} ? 'active' ">
                <a href="#" th:href="@{/photos/(page=${curPageStat.index},size=20)}">
                    <span th:text="${curPageStat.count}">1</span>
                </a>
            </li>
        </ul>
    </div>
    <!--Footer-->
    <div th:include="fragments/footer :: footer">Default footer</div>
</div>
</body>
</html>