<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body th:background="@{/images/} + #{members.background}">
<div th:include="fragments/header :: header">Default header</div>
<div class="container">
    <table id="users-table" class="table table">
        <tr>
            <th>User</th>
            <th>Role</th>
            <th>Last visit</th>
            <th>Comments</th>
            <th></th>
        </tr>
        <tr th:each="user : ${users}">
            <td>
                <a href="members.html" th:text="${user.name}" th:href="@{/user/} + ${user.name}"></a>
            </td>
            <td th:text="${user.role}">ROLE</td>
            <td th:style="${user.online} ? 'color : #04B404'" th:text="${user.online ? 'online' : #dates.format(user.visit, 'yyyy-MM-dd  hh:mm:ss')}">
                STATUS
            </td>
            <td th:text="${#lists.size(user.comments)}">Comments</td>
            <td>
                <a th:if="${!user.online}" href="some.html" th:title="#{event.remove}" th:href="@{/user/remove/} + ${user.name}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    </table>
</div>


</body>
</html>