<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/import :: bootstrap"></div>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body th:background="@{/images/} + #{members.background}">
<div th:include="fragments/header :: header">Default header</div>
<div class="container" style="max-width: 40%; background-color: lightsteelblue">
    <table style="margin-top: 15px; text-align: center;" class="table table">
        <tr>
            <th style="text-align:center">User</th>
            <th style="text-align:center">Role</th>
        </tr>
        <tr th:each="user : ${users}">
            <td>
                <a href="members.html" th:text="${user.name}" th:href="@{/user/} + ${user.name}"></a>
            </td>
            <td style="text-align: justify" th:text="${user.role}"></td>
        </tr>
    </table>
</div>


</body>
</html>