<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
<div th:fragment="header" class="panel-heading">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:text="#{menu.title}" href="#" th:href="@{/}">Talisman band</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/members/}" th:text="#{menu.stuff}">Stuff</a></li>
                <li><a href="#" th:href="@{/about/}" th:text="#{menu.about}">About</a></li>
                <li class="active"><a href="#" th:href="@{/photos/}" th:text="#{menu.photos}">Photos</a></li>
                <li><a href="#" th:href="@{/contacts/}" th:text="#{menu.contacts}">Contacts</a></li>
            </ul>
            <a href="#" th:href="@{'?language=ua'}"><img th:src="@{/images/Ukraine-icon.png}"/></a>
            <a href="#" th:href="@{'?language=en'}"><img th:src="@{/images/GreatBritain-icon.png}"/></a>

            <span sec:authorize="isAuthenticated()">
                <span  th:text="#{menu.logged}" style="color: chartreuse">Logged as: </span>
                <span style="color: chartreuse" sec:authentication="name">Bob</span>
            </span>


            <ul class="nav navbar-nav navbar-right">


                <li>
                    <form style="position: relative" sec:authorize="isAnonymous()" th:action="@{/signin/facebook}" method="POST">
                    <input type="image" th:src="@{/images/facebook.png}" width="30" height="30"/>
                    </form>
                 </li>

                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/user/add}" href="#">
                        <span class="glyphicon glyphicon-user"/>
                        <span th:text="#{menu.sign_up}">Sign up</span>
                    </a>
                </li>
                <li>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span th:text="#{menu.logout}">Logout</span>
                    </a>
                    <a sec:authorize="isAnonymous()" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <span th:text="#{menu.login}">Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>